.nav-list {
  list-style: none;
}

.nav-item {
  width: 75px;
  height: 75px;
  position: absolute;
  display: block;
}

.nav-icon {
  display: block;
  margin: 0 auto;
  font-size: 45px;
}

.nav-icon.active {
  color: #8be9fd;
}

.nav-description {
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-weight: bold;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

#about-me {
 top: 15px;
 right: 15px;
}

#blog {
  top: 115px;
  right: 15px;
}

#notes {
  top: 205px;
  right: 15px;
}
