
@font-face {
  font-family: "Red Hat Mono";
  src: local('Consolas'), url(https://fonts.gstatic.com/s/redhatmono/v10/jVyY7nDnA2uf2zVvFAhhzEs-VMSjJpBTfgjwQV3Iy7jHuF4Q.woff2) format('woff2');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --dracula-purple: #bd93f9;
  background: #282a36;
  background-image: repeating-linear-gradient(to bottom, #8be9fd 0 4px, #ff79c6 0 6px, transparent 1px 100%),repeating-linear-gradient(to right, #8be9fd 0 4px, #ff79c6 0 6px, transparent 1px 100%);
  background-size: 95px 95px;

  color: #f8f8f2;
  font-family: 'Red Hat Mono', 'Consolas';
}

body {
  background-color: rgba(40,42,54, 0.75);
  min-height: 100vh;
}

.container {
	display: block;
}

.flex {
  display: flex;
  gap: 5px;
}

h1 {
  color: #50fa7b;
}

.contents h1 {
  margin-bottom: 10px;
}

.contents {
  font-size: 1.2em !important;
}

.socials-list {
  list-style: none;
  gap: 15px;
  align-items: center;
}

.flex.socials-list {
  gap: 10px;
  align-items:center;
  flex-wrap: wrap;
}

.social-icons {
  font-size: 35px;
  color: white;
}

.social-icons *:hover {
	color: #50fa7b !important;
}

ul {
  list-style: none;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog h2 {
  padding-top: 10px;
}

.blog a,
.note code {
  color: var(--dracula-purple);
}

.blog ol {
  list-style-position: inside;
}

.note h2,
.note hr {
  color: #50fa7b;
  border-color: #50fa7b;
}

.note p {
  margin-top: 10px;
}

.note > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note > ul > li {
  max-width: 370px;
  min-width: 200px;
}

.note pre {
  white-space: pre-wrap;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F8F8F2;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BD93F9;
}
